<style>
    .maincontainer {
      background: linear-gradient(#673AB7, #EC407A);
      width: 100vw;
      height: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .box {
      width: 50%;
      height: auto;
      background: linear-gradient(to top,#673AB7, #40ecd2);
      border-radius: 20px;
      padding: 20px;
  
    }
  
    .heading {
      font-size: 24px;
      letter-spacing: 1px;
      font-weight: bold;
      color: #273c75;
      margin-bottom: 10px;
    }
  
    
    .buttonstyle {
      width: 100%;
    }
  </style>
  <html>
  
  <head>
    <title>Product Interface</title>
    <link rel="icon" type="image/x-icon" href="/images/1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js">
    </script>
   
          
    
  
  </head>
  
  <div class="maincontainer">
    <div class="box">
      <div class="heading">
        <a href="/product/displayallproduct"><img src="/images/display.jpg" width="50"></a>
        Update Details
      </div>
      <form action="/product/product_edit_delete" method="post"  class="row g-3">
        
           
  
        <div class="col-md-6">
          <label for="productid" class="form-label"><b>Product ID</b></label>
          <input type="text" name="productid" class="form-control" id="productid" value="<%=data.productid%>">
        </div>
        <div class="col-md-6">
          <label for="productname" class="form-label"><b>Product Name</b></label>
          <input type="text" id="productname" name="productname" class="form-control" value="<%=data.productname%>">
  
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label"><b>Price</b></label>
          <input type="text" name="price" class="form-control" id="price" value="<%=data.price%>">
        </div>
        <div class="col-md-6 ">
          <label for="quantity" class="form-label"><b>Quantity</b></label>
          <input type="text" name="quantity" class="form-control" id="quantity" value="<%=data.quantity%>">
        </div>
        <div class="col-md-12 ">
            <label for="productdescription" class="form-label"><b>Product Description</b></label>
            <input type="text" name="productdescription" class="form-control" id="productdescription" value="<%=data.productdescription%>">
          </div>
        
        <div class="col-md-6">
          <button type="submit" name="btn" value="Edit" class="btn btn-outline-success buttonstyle"><b>Edit</b></button>
        </div>
        <div class="col-md-6">
          <button type="submit" name="btn" value="Delete" class="btn btn-outline-info buttonstyle"><b>Delete</b></button>
        </div>
        
  
      </form>
  
    </div>
  
  </div>
  
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
  </html>